:root {
	--color1: #eb6209;
	--color1light: #ffe8d9;
	--color2: #ae268b;
	--color2light: #f0e2f0;
	--color3: #1d3d91;
	--color3light: #e8eaf7;
	--color4: #af201f;
	--color4light: #f3ded6;
	--color5: #2a9d8f;
	--color5light: #d7f2ee;
}

#content {
	background-color: rgb(155, 201, 219) !important;
}

#content > section {
	background-color: rgb(155, 201, 219) !important;
}

.subSection {
	border-radius: 5px !important;
}

.sectionContent {
	width: 95% !important;
	padding: 0 !important;
	margin-left: auto;
	margin-right: auto;
}

.noSubSections {
	background-color: #ffffff;
	border-radius: 5px !important;
}

section h3 {
	border-radius: 5px 5px 0 0;
}

#content > section:nth-of-type(5n + 1) .subSection,
#content > section:nth-of-type(5n + 1) h2,
#content > section:nth-of-type(5n + 1) .noSubSections {
	border: 2px solid var(--color1);
}
#content > section:nth-of-type(5n + 2) .subSection,
#content > section:nth-of-type(5n + 2) h2,
#content > section:nth-of-type(5n + 2) .noSubSections {
	border: 2px solid var(--color2);
}
#content > section:nth-of-type(5n + 3) .subSection,
#content > section:nth-of-type(5n + 3) h2,
#content > section:nth-of-type(5n + 3) .noSubSections {
	border: 2px solid var(--color3);
}
#content > section:nth-of-type(5n + 4) .subSection,
#content > section:nth-of-type(5n + 4) h2,
#content > section:nth-of-type(5n + 4) .noSubSections {
	border: 2px solid var(--color4);
}
#content > section:nth-of-type(5n + 5) .subSection,
#content > section:nth-of-type(5n + 5) h2,
#content > section:nth-of-type(5n + 5) .noSubSections {
	border: 2px solid var(--color5);
}

#innerBox,
#backgroundInnerBox,
.subSectionContent {
	background-color: white !important;
}

.displayHomepage blockquote {
	font-size: 1.35em;
}

.displayHomepage h2 a:hover {
	background-color: #f1f1f1f1;
	border-color: #b2a889;
	color: black;
}
.displayHomepage h2 a {
	background-color: white;
}
.displayHomepage footer {
	display: none;
}

.subSectionContent a {
	color: darkred;
	text-decoration: grey underline;
}

h1 {
	background-color: #374aa1 !important;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

h2,
h2 > a {
	text-transform: uppercase;
	color: #000000 !important;
	width: 95% !important;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	font-weight: normal !important;
}

h3 {
	border-radius: 5px;
	font-weight: normal !important;
}

h4 {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 12px;
	margin-bottom: 20px;
	color: white;
}

footer {
	height: 3em;
	background-color: #ebeff8;
}

@media screen and (min-width: 834px) {
	h3 {
		margin-left: -3em;
	}
	footer {
		font-size: 1em;
	}
	footer a {
		margin-left: 1em;
	}
}

footer a {
	color: #555;
	max-width: 230px;
}

#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 5) .visible h3 {
	border: 2px solid #777;
}
#content > section:nth-of-type(5n + 1) h3,
#content > section:nth-of-type(5n + 1) .visible h3,
#content > section:nth-of-type(5n + 1) h2 {
	background-color: var(--color1light) !important;
}
#content > section:nth-of-type(5n + 2) h3,
#content > section:nth-of-type(5n + 2) .visible h3,
#content > section:nth-of-type(5n + 2) h2 {
	background-color: var(--color2light);
}
#content > section:nth-of-type(5n + 3) h3,
#content > section:nth-of-type(5n + 3) .visible h3,
#content > section:nth-of-type(5n + 3) h2 {
	background-color: var(--color3light);
}
#content > section:nth-of-type(5n + 4) h3,
#content > section:nth-of-type(5n + 4) .visible h3,
#content > section:nth-of-type(5n + 4) h2 {
	background-color: var(--color4light);
}
#content > section:nth-of-type(5n + 5) h3,
#content > section:nth-of-type(5n + 5) .visible h3,
#content > section:nth-of-type(5n + 5) h2 {
	background-color: var(--color5light);
}

.displaySubSection #content > section:nth-of-type(5n + 1) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 1) h2 a aside,
#content > section:nth-of-type(5n + 1) h3 {
	color: var(--color1);
}

h4 {
	border-bottom: 2px solid;
	border-radius: 0;
	font-weight: bold;
	padding: 10px 20px 10px 2px;
}

#content > section:nth-of-type(5n + 1) h4 {
	color: var(--color1);
}

.displaySubSection #content > section:nth-of-type(5n + 2) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 2) h2 a aside,
#content > section:nth-of-type(5n + 2) h3 {
	color: var(--color2);
}

#content > section:nth-of-type(5n + 2) h4 {
	color: var(--color2);
}

.displaySubSection #content > section:nth-of-type(5n + 3) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 3) h2 a aside,
#content > section:nth-of-type(5n + 3) h3 {
	color: var(--color3);
}

#content > section:nth-of-type(5n + 3) h4 {
	color: var(--color3);
}

.displaySubSection #content > section:nth-of-type(5n + 4) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 4) h2 a aside,
#content > section:nth-of-type(5n + 4) h3 {
	color: var(--color4);
}

#content > section:nth-of-type(5n + 4) h4 {
	color: var(--color4);
}

.displaySubSection #content > section:nth-of-type(5n + 5) h2 a,
.displaySubSection #content > section:nth-of-type(5n + 5) h2 a aside,
#content > section:nth-of-type(5n + 5) h3 {
	color: var(--color5);
}

#content > section:nth-of-type(5n + 5) h4 {
	color: var(--color5);
}

pre {
	color: white !important;
	border: rgb(146, 128, 128) 3px inset !important;
	background-color: rgb(102, 102, 102);
	font-family: "Courier New", Courier, monospace !important;
	padding: 1.25em 1em 1em 1em !important;
}

input {
	border: 1px black solid;
	position: relative;
	left: 3px;
	margin-right: 5px;
}

@media screen and (max-width: 834px) {
	html {
		background-color: white;
	}
	.displaySubSection main {
		box-shadow: none;
	}
	body:not(.lightpad) #content > section:nth-of-type(5n + 1) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 2) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 3) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 4) h3,
	body:not(.lightpad) #content > section:nth-of-type(5n + 5) h3 {
		background-color: unset !important;
		border: none !important;
	}
	#content > section:nth-of-type(5n + 1) h3 a {
		border-bottom-color: var(--color1);
	}
	#content > section:nth-of-type(5n + 2) h3 a {
		border-bottom-color: var(--color2);
	}
	#content > section:nth-of-type(5n + 3) h3 a {
		border-bottom-color: var(--color3);
	}
	#content > section:nth-of-type(5n + 4) h3 a {
		border-bottom-color: var(--color4);
	}
	#content > section:nth-of-type(5n + 5) h3 a {
		border-bottom-color: var(--color5);
	}

	.subSection h4 {
		border: none;
	}
}
