h1,
#searchBar {
	position: fixed;
}
h1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
	top: 0;
	width: 100%;
	background: #004450;
	color: white;
	height: 1.15em;
	overflow: hidden;
	justify-content: left !important;
	padding-left: 10px;
	padding-top: 0.12em !important;
	padding-bottom: 0.18em;
}
h1 img {
	height: 1.5em;
	object-fit: contain;
	vertical-align: middle;
}

#initialMessage {
	display: none !important;
}
main {
	margin-top: 2.75em;
}
.sectionContent {
	margin-top: -0.75em !important;
}
#innerBox {
	overflow-y: hidden;
}

.subSectionContent img,
.noSubSections img {
	display: block;
	margin: auto;
}
h3 img + a {
	width: unset;
}

#content > section,
section h3 {
	cursor: grab;
}
.subSection,
.noSubSections {
	cursor: auto;
}

@media screen and (max-width: 500px) {
	h1 {
		height: 1.5em !important;
		justify-content: center !important;
		text-align: center;
		padding-left: 0 !important;
	}
	h1 img {
		margin-right: 0;
	}
	main {
		margin-top: 3em;
	}
	#content > section {
		background: #f6f6f8;
	}
}
